<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../css/htmleaf-demo.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title></title>
    <style type="text/css">
        .drop li {
            text-decoration: none;
            color: #FFFFFF;
        }

        .drop li:hover {
            text-decoration: none;
            color: #000000;
        }

        .main {
            text-decoration: none;
            color: #FFFFFF;
        }

        .main:hover {
            text-decoration: none;
            color: #000000;
        }
    </style>
</head>

<body class="body">
<div class="htmleaf-container">
    <nav>
        <ul id="main">
            <li class="main">主页</li>
            <li>成员管理
                <ul class="drop">
                    <div>
                        <li>增</li>
                        <li>删</li>
                        <li>改</li>
                        <li>查</li>
                    </div>
                </ul>
            </li>
            <li>
                社团管理
                <ul class="drop">
                    <div>
                        <li>增</li>
                        <li>删</li>
                        <li>改</li>
                        <li>查</li>
                    </div>
                </ul>
            </li>
            <li>联系我们
                <ul class="drop">
                    <div>
                        <li>关于</li>
                    </div>
                </ul>
            </li>
            <div id="marker"></div>
        </ul>
    </nav>
</div>
<div></div>
<div></div>
</body>

</html>